div.main {
  margin-top: 15px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  div.sidebar {
    div.photo-container {
      width: 100%;
      background-color: red;
      border: 1px solid #1976d2;
    }
    img.photo {
      width: 100%;
    }
  }

  div.content {
    margin-bottom: 100px;
    a.projLink {
      display: inline-block;
      font-weight: 600;
      font-size: 1.05rem;
      width: fit-content;
      text-decoration: none;
      &:hover {
        color: #e95656;
      }
    }
    .techList {
      display: inline;
      // background-color: red;
    }
    .contactsIcon {
      color: #e95656;
      margin-right: 3px;
      user-select: none;
    }
  }
}
.link {
  color: red;
}

@media (max-width: 970px) {
}

@media (max-width: 600) {
  div.photo-container {
    width: 200px;
  }
}
